html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 40px;
	font-family: 'Quicksand', sans-serif;
}

section {
	position: relative;
}

/* Navbar */
.navbar {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #023E8A;
	font-size: 24px;
	padding-top: 20px;
}

.navbar ul {
	position: relative;
	display: flex;
	justify-content: space-around;
	right: 15px;
}
.navbar ul li {
	list-style: none;
	padding: 15px;
}

.navbar a {
	text-decoration: none;
	color: #CAF0F8;	
	transition: color 0.3s ease-in-out; 
}

.logo {
	position:relative;
	top: 5px;
	left: 20px;
	width: 40px;
	margin-right: 20px;
}

.logo-text {
	font-size: 36px;
}

a:hover {
	color: #66ff8a;
}

/* First section */
.home {
	height: 600px;
	padding: 20px;
	display: flex;
	font-size: 40px;
	justify-content: space-around;
	align-items: center;
	color: #CAF0F8;	
	background: linear-gradient(#023E8A, #0096C7);
}

.router {
	min-width: 200px;
	max-width: 512px;
	position: relative;
	z-index: 1;
}

.info {
	font-size: 24px;
}

.wave1 {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave1 svg {
	position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 163px;
    transform: rotateY(180deg);
}

.wave1 .shape-fill {
	fill: #CAF0F8;
}

/* Second Section */
.services {
	height: 660px;
	padding: 20px;
	background: linear-gradient(#CAF0F8, #0077B6);
}

.block-container {
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	margin-bottom: 10px;
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 33.33333%;
}

.image-container {
	width: 125px;
	height: 125px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#0077B6,#48CAE4);
	box-shadow: 5px 5px 5px #cfcfcf,
				5px -5px 5px #cfcfcf,
				-5px -5px 5px #cfcfcf,
				-5px 5px 5px #cfcfcf;
	border-radius: 25px;
}

.image-container img {
	width: 80%; 
	height: 80%; 
	object-fit: cover; 
}

.text-container {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 300px;
	font-size: 24px;
	font-weight: 700;
	overflow: hidden;
}



/* Footer */
footer {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 800;
	color: #fff;
	background-color: #2a2a2a;
}